.App {
  height: 100vh;
  width: 100vw; 
}

.component-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.cal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cal-table {
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.cal-header {
  height: 8%;
  width: 14%;
  background-color: rgb(166, 244, 232);
  text-align: center;
  top: 50%;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}

.cal-cel {
  height: 15%;
  width: 14%;
  text-align: center;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  background-color: rgb(200, 200, 200);
}

.cal-cel-days {
  height: 15%;
  width: 14%;
  background-color: rgb(166, 236, 244);
  text-align: center;
  cursor: pointer;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}

.event-detail {
  height: 100%;
  width: 25%;
  background-color: rgb(143, 255, 143);
  padding-left: 1%;
}

.current {
  background-color: red;
}

.event {
  background-color: orange;
}

.header {
  width: 20%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: rgb(200, 200, 200);
  height: 10%;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.sample1 {
  background-color: red;
  margin-bottom: 5%;
}

.sample2 {
  background-color: orange;
}
